@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="h5 page-title">نظام الفواتير</h2>
<p class="text-muted">تهدف هذه الميزة البدائية إلى تسهيل عرض الإجراءات المُركّزة على المستخدم أو الأنشطة في تطبيقك. أحيانًا يكون من المنطقي دمج كليهما في جدول زمني واحد، وهو أمر مثالي.</p>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card shadow">
            <div class="card-header">
                <strong class="card-title">ترصيص</strong>
            </div>
            <div class="card-body">
                <p class="h4 mb-4">ترصيص</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="card shadow">
            <div class="card-header">
                <strong class="card-title">عناصر النص المضمنة</strong>
            </div>
            <div class="card-body">
                يمكنك استخدام علامة التحديد لتحديد النص.
                يُعامل هذا السطر من النص كنص محذوف.
                يُعامل هذا السطر من النص كنص غير دقيق.
                يُعامل هذا السطر من النص كإضافة إلى المستند.
                سيُعرض هذا السطر مسطرًا.
                يُعامل هذا السطر كنص مطبوع.
                يُعرض هذا السطر كنص غامق.
                يُعرض هذا السطر كنص مائل.
            </div>
        </div>
    </div>
    <div class="col-12 mb-4">
        <div class="card shadow">
            <div class="card-header">
                <strong class="card-title">فقرة</strong>
            </div>
            <div class="card-body">
                <p> فيديو تعريفات الرداءة </p>
                <p>من بين هذه التغييرات اثنين، ei الخاص بنا، وضع الخرافات المرشحة في eos. من الجيد أن يكون الإدراك الحسي أفضل، في المقام الأول، أفضل من يوريبيديس. لا توجد ملحقات نحلية. فضيلة توليت ولدت في إيوس.</p>
                <p>كن ماليسيت، فريق مراهق فريد من نوعه، يشبه الإعلان المتوسط. تي مثل البحر الفاضل، فيرو بلانديت أوسو لا لا يوجد وقت آخر.</p>
               
            </div>
        </div>
    </div>
</div> <!-- end section -->
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="mb-3"><strong>اقتباسات مقتبسة</strong></div>
        <blockquote class="blockquote">
            <p class="mb-0">
                من بين هذه التغييرات اثنين، ei الخاص بنا، وضع الخرافات المرشحة في eos. من الجيد أن يكون الإدراك الحسي أفضل، في المقام الأول، أفضل من يوريبيديس. لا توجد ملحقات نحلية. فضيلة توليت ولدت في إيوس.
            </p>
            <footer class="blockquote-footer">مشهور<cite title="Source Title">مصدر</cite></footer>
        </blockquote>
    </div>
    <div class="col-md-6 mb-4">
        <div class="mb-3"><strong>نص قوي</strong></div>
        <p class="lead">من بين هذه التغييرات اثنين، ei الخاص بنا، وضع الخرافات المرشحة في eos. من الجيد أن يكون الإدراك الحسي أفضل، في المقام الأول، أفضل من يوريبيديس. لا توجد ملحقات نحلية. فضيلة توليت ولدت في إيوس.</p>
    </div>
</div> <!-- end section -->
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card shadow">
            <div class="card-header">
                <strong class="card-title">قائمة غبر مرتبة</strong>
            </div>
            <div class="card-body">
                <ul>
                    <li>من بين هذه التغييرات اثنين</li>
                    <li>من بين هذه التغييرات اثنين</li>
                    <li>من بين هذه التغييرات اثنين</li>
                    <li>من بين هذه التغييرات اثنين</li>
                    <li>
                        من بين هذه التغييرات اثنين
                        <ul>
                            <li>من بين هذه التغييرات اثنين</li>
                            <li>من بين هذه التغييرات اثنين</li>
                            <li>من بين هذه التغييرات اثنين</li>
                            <li>من بين هذه التغييرات اثنين</li>
                        </ul>
                    </li>
                    <li>من بين هذه التغييرات اثنين</li>
                    <li>من بين هذه التغييرات اثنين</li>
                    <li>من بين هذه التغييرات اثنين</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card shadow">
            <div class="card-header">
                <strong class="card-title">القائمة المرتبة</strong>
            </div>
            <div class="card-body">
                <ol>
                    <li>لوريم إيبسوم دولور سيت أميت</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>عدد صحيح موليستي لوريم في ماسا</li>
                    <li>التسهيلات في بريتيوم نيسل أليكيت</li>
                    <li>
                        Nulla volutpat aliquam velit
                        <ol>
                            <li>فاسيلوس إياكوليس نيكي</li>
                            <li>بوروس صودالز ultricies</li>
                            <li>الدهليز laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat في</li>
                        </ol>
                        </li>
                    <li>فوسيبوس بورتا لاكوس فرينجيلا فيل</li>
                    <li>الجلسة الإينية أميت نونك</li>
                    <li>احصل على لوريم المنفذ</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card shadow">
            <div class="card-header">
                <strong class="card-title">القوائم غير النمطية</strong>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li>لوريم إيبسوم دولور سيت أميت</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>عدد صحيح موليستي لوريم في ماسا</li>
                    <li>التسهيلات في بريتيوم نيسل أليكيت</li>
                    <li>
                        Nulla volutpat aliquam velit
                        <ul>
                            <li>فاسيلوس إياكوليس نيكي</li>
                            <li>بوروس صودالز ultricies</li>
                            <li>الدهليز laoreet porttitor sem</li>
                            <li>Ac tristique libero volutpat في</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                    <li>الجلسة الإينية أميت نونك</li>
                    <li>احصل على لوريم المنفذ</li>
                    <li>احصل على لوريم المنفذ</li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- end section -->